# spotahome main table

In [1]:
# import all libraries that are needed

import requests                 # requests on websites
from bs4 import BeautifulSoup   # html parsing

import pandas as pd             # pandas for data frame

import math                     # for math methods
import time                     # for sleep timer
import random

from sql_functions import *     # functions from file for upload on schema
import psycopg2                 # for upload on engine

import datetime as dt           # for the csv file with the current date and time

# libraries that are not needed right now
import re
#import json
#import numpy as np
#from zipfile import *


# declaration of functions to get specific information from the website

# Creating a function to get all the descriptions
def get_description(bs):
    # find all the descriptions and save them to an empty list
    lst_name = []
    descriptions = bs.find_all(
        class_='homecard-content__title__HomecardContent___OmV4c homecard-content__title--rebranding-style__HomecardContent___OmV4c')
    # iterate over the descriptions to get the text and strip the strings and save them in a list
    for description in descriptions:
        lst_name.append(
            description.get_text()
                .strip()
        )
    return lst_name


# Creating a function to get all the housing types
def get_housing(bs):
    # find all the housing types and save them to an empty list
    lst_name = []
    housings = bs.find_all(
        class_='homecard-content__type__HomecardContent___OmV4c homecard-content__type--rebranding-style__HomecardContent___OmV4c')
    # iterate over the housing types to get the text and strip the strings and save them in a list
    for housing in housings:
        lst_name.append(
            housing.get_text()
                .strip()
        )
    return lst_name


# Creating a function to get all the available dates
def get_available(bs):
    # find all the available dates and save them to an empty list
    lst_name = []
    availables = bs.find_all(
        class_='homecard-content__available-from__HomecardContent___OmV4c homecard-content__available-from--rebranding-style__HomecardContent___OmV4c')
    # iterate over the available appartements to get the text and strip the string and save them in a list
    for available in availables:
        lst_name.append(
            available.get_text()
                .strip()
                .replace('From ', '')
        )
    return lst_name


# Creating a function to get all the prices
def get_price(bs):
    # find all the prices and save them to an empty list
    lst_name = []
    prices = bs.find_all(class_='price__Price___OmV4c')
    # iterate over the prices to get the text and strip the strings and save them in a list
    for price in prices:
        lst_name.append(
            price.get_text()
                .strip()
                .replace('£', '')
                .split('-')[0]
        )
    return lst_name


# Creating a function to get all the prices per period
def get_prices_period(bs):
    # find all the aprices per period and save them to an empty list
    lst_name = []
    prices_period = bs.find_all(
        class_='price-monthly__Price___OmV4c price-monthly--rebranding-style__Price___OmV4c')
    # iterate over the prices per period to get the text and strip the string and save them in a list
    for price_period in prices_period:
        lst_name.append(
            price_period.get_text()
                .strip()
                .replace('/', '')
        )
    return lst_name


# Creating a function to get all the ID's
def get_ids(bs):
    # find all the prices and save them to an empty list
    lst_name = []
    ids = bs.find_all(class_='l-list__item')
    # iterate over the prices to get the text and strip the strings and save them in a list
    for id in ids:
        lst_name.append(
            id.get('data-homecard-scroll')
                .strip()
        )
    return lst_name


# Create dictionary in which every location ID gets assigned a location name
location_dict = {219: 'Lambeth',
                 231: 'Hammersmith and Fulham',
                 232: 'Kensington and Chelsea',
                 233: 'City of Westminster',
                 234: 'Camden',
                 235: 'Tower Hamlets',
                 236: 'Islington',
                 237: 'Hackney',
                 241: 'City of London'
                 }


# Creating a function to get the search result from all pages
# the website spotahome shows 60 search results per page. To iterate trough all the pages, we get the information how many search results are there, then divide it by 60 and round it up to get the number of pages.
def page_results(property_type, location):
    # get the url from the website with the property type and the location as a variable to iterate trough it
    page = requests.get(
        f'https://www.spotahome.com/s/london--uk/for-rent:{property_type}?areaId[]={location}')
    html = page.content
    bs = BeautifulSoup(html, 'html.parser')

    # Extracting the total number of search results
    results = bs.find_all('h1', {'class': 'search-title__title'})

    # define the variable result_text in case the first search gives us no results
    result_text = 0

    # iterate over the results to get the text and strip the string
    for result in results:
        result_text = result.find("strong").get_text().strip()

    # convert the extracted string to an integer to perform mathematical operations
    result_converted = int(result_text)

    # divide the converted result by 60 since one pages shows 60 results and round it up to get the number of pages
    page_site = result_converted / 60
    page_site = math.ceil(page_site)

    # convert the number of pages from a float to an integer to iterate trough the pages
    page_converted = int(page_site)

    # create an empty data frame to store the results from every loop cycle
    df_search = pd.DataFrame()

    # split the url to get access to the part where the page is definde
    begin = f'https://www.spotahome.com/s/london--uk/for-rent:{property_type}'
    end = f'?areaId[]={location}'

    # range is including in the beginning and excluding in the end so we add plus 1 to iterate through all calculated pages
    page_converted = page_converted + 1

    # for loop to get the page numbers
    for page_number in range(page_converted):
        # sleep timer to reduce the traffic for the server
        time.sleep(random.randint(2,6)/10)

        # get the url from the website with the property type, the location and the page number as a variable to iterate trough it
        # middle =
        page = requests.get(begin+f'/page:{page_number}'+end)
        html = page.content
        bs = BeautifulSoup(html, 'html.parser')

        # Create a dictionary to store the results from every loop cycle.
        # The keys are the column names and the values are the functions we created before.
        # The functions are called with the beautiful soup object as a parameter.
        spotahome_dict = {
            'platform_id': get_ids(bs),
            'platform': 'spotahome',
            'neighborhood': location_dict[location],
            'property_type': property_type,
            'housing_type': get_housing(bs),
            'price_pcm': get_price(bs),
            'title': get_description(bs),
            'furnished': 'furnished',
            'available_from': get_available(bs),
        }
        # the ditionary is stored in a dataframe
        df_page = pd.DataFrame(data=spotahome_dict)

        # the temporary data frame gets appended to the data frame we created earlier outside the for loop
        # for every iteration, the data frame page stores the results in the data frame search
        #df_search = df_search.append(df_page)
        df_search = pd.concat([df_search, df_page], axis=0, ignore_index=True)
    # the data frame search gets returned to the for loop to access it outside the function
    return (df_search)


# creating a list with different property types given from the website
property_types = ['studios', 'apartments/bedrooms:1',
                  'apartments/bedrooms:2', 'apartments/bedrooms:3', 'apartments/bedrooms:3more']
# creating a list with the different location IDs given from the website
locations = [219, 231, 232, 233, 234, 235, 236, 237, 241]

# creating an empty data frame
df_complete = pd.DataFrame()
# for loop to get the different property types
for property_type in property_types:
    # for loop to get the different locations
    for location in locations:
        # append the result from data frame search by calling the function page_results with the property type and the location as a parameter to data frame complete
        df_complete = pd.concat([df_complete, page_results(
            property_type, location)], axis=0, ignore_index=True)

In [2]:
# display the data frame
display(df_complete)

,platform_id,platform,neighborhood,property_type,housing_type,price_pcm,title,furnished,available_from
0,654298,spotahome,Hammersmith and Fulham,studios,Studio,2650,The Armadale Road Residence II,furnished,10 October
1,654299,spotahome,Hammersmith and Fulham,studios,Studio,2500,The Armadale Road Residence III,furnished,20 December
2,113567,spotahome,Hammersmith and Fulham,studios,Studio,1400,Studio flat with double bed to rent in Kensing...,furnished,18 June 2023
3,607194,spotahome,Kensington and Chelsea,studios,Studio,3033,"Studio for rent in Earls Court, London",furnished,5 October
4,759607,spotahome,Kensington and Chelsea,studios,Studio,2300,Studio for rent in a co-living building in Not...,furnished,3 October
...,...,...,...,...,...,...,...,...,...
831,844665,spotahome,Hackney,apartments/bedrooms:3more,Apartment,8250,4-bedroom apartment for rent in London,furnished,8 January 2023
832,843245,spotahome,Hackney,apartments/bedrooms:3more,Apartment,9000,4-bedroom apartment for rent in London,furnished,11 January 2023
833,398966,spotahome,Hackney,apartments/bedrooms:3more,Apartment,2100,4-bedroom apartment in Hackney,furnished,6 January 2024
834,602243,spotahome,Hackney,apartments/bedrooms:3more,Apartment,9000,4 bedrooms warehouse conversion for rent in Ha...,furnished,4 August 2023
835,844639,spotahome,Hackney,apartments/bedrooms:3more,Apartment,12000,4-bedroom apartment for rent in London,furnished,4 August 2023

In [3]:
# get information about the data frame
# results for 5 different property types and 9 different locations with 60 search results per page is 844 on 22.09.2022 10:00 h
df_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 836 entries, 0 to 835
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   platform_id     836 non-null    object
 1   platform        836 non-null    object
 2   neighborhood    836 non-null    object
 3   property_type   836 non-null    object
 4   housing_type    836 non-null    object
 5   price_pcm       836 non-null    object
 6   title           836 non-null    object
 7   furnished       836 non-null    object
 8   available_from  836 non-null    object
dtypes: object(9)
memory usage: 58.9+ KB

In [ ]:
#df_complete['available_from'].str.split(' ', expand=True)

In [4]:
df_complete = df_complete.join(df_complete['available_from'].str.split(' ', expand=True).add_prefix('available_from_'))
df_complete

,platform_id,platform,neighborhood,property_type,housing_type,price_pcm,title,furnished,available_from,available_from_0,available_from_1,available_from_2
0,654298,spotahome,Hammersmith and Fulham,studios,Studio,2650,The Armadale Road Residence II,furnished,10 October,10,October,None
1,654299,spotahome,Hammersmith and Fulham,studios,Studio,2500,The Armadale Road Residence III,furnished,20 December,20,December,None
2,113567,spotahome,Hammersmith and Fulham,studios,Studio,1400,Studio flat with double bed to rent in Kensing...,furnished,18 June 2023,18,June,2023
3,607194,spotahome,Kensington and Chelsea,studios,Studio,3033,"Studio for rent in Earls Court, London",furnished,5 October,5,October,None
4,759607,spotahome,Kensington and Chelsea,studios,Studio,2300,Studio for rent in a co-living building in Not...,furnished,3 October,3,October,None
...,...,...,...,...,...,...,...,...,...,...,...,...
831,844665,spotahome,Hackney,apartments/bedrooms:3more,Apartment,8250,4-bedroom apartment for rent in London,furnished,8 January 2023,8,January,2023
832,843245,spotahome,Hackney,apartments/bedrooms:3more,Apartment,9000,4-bedroom apartment for rent in London,furnished,11 January 2023,11,January,2023
833,398966,spotahome,Hackney,apartments/bedrooms:3more,Apartment,2100,4-bedroom apartment in Hackney,furnished,6 January 2024,6,January,2024
834,602243,spotahome,Hackney,apartments/bedrooms:3more,Apartment,9000,4 bedrooms warehouse conversion for rent in Ha...,furnished,4 August 2023,4,August,2023
835,844639,spotahome,Hackney,apartments/bedrooms:3more,Apartment,12000,4-bedroom apartment for rent in London,furnished,4 August 2023,4,August,2023

In [ ]:
# df_complete= df_complete['available_from_2'].fillna("2022", inplace=True)
# df_complete

## details splitted in separate columns

In [ ]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd


df_details_complete = pd.DataFrame()

for idx, row in df_complete.iterrows():
    time.sleep(random.randint(2,6)/10)
    page = f"https://www.spotahome.com/london/for-rent:{row['housing_type'].lower() + 's'}/{row['platform_id']}"
    website = requests.get(page)
    results = BeautifulSoup(website.content, 'html.parser')

    details = results.find(
        'div', class_='property-title__details').find_all('span')

    details_lst = (detail.get_text() for detail in details)
    details_lst = [detail.strip() for detail in details_lst]

    details_lst.pop(0)

    details_lst = [i.split(' ', 1) for i in details_lst]

    row_dict = {}

    for value_key_tuple in details_lst:
        new_key_value = {'id': row['platform_id']}
        row_dict.update(new_key_value)
        key = value_key_tuple[1]
        value = value_key_tuple[0]
        row_dict[key] = value

    df_details = pd.DataFrame(data=row_dict, index=[0])
    df_details_complete = pd.concat([df_details_complete, df_details])

In [ ]:
df_details_complete

# export to DBeaver

In [5]:
# import the data frame to DBeaver

# call the schema created for this project
schema = 'capstone_jmrs'
# get the function to connect to the database
engine = get_engine()

# give the table a unique name
table_name = 'spotahome_df_complete_available_from'

# import the table to sql
if engine!=None:
    try:
        df_complete.to_sql(name=table_name,
                        con=engine,
                        if_exists='replace',
                        schema=schema, 
                        index=False,
                        chunksize=5000, 
                        method='multi')
        print(f"The {table_name} table was imported successfully.")
    
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The spotahome_df_complete_available_from table was imported successfully.

In [ ]:
# import the data frame to DBeaver

# call the schema created for this project
schema = 'capstone_jmrs'
# get the function to connect to the database
engine = get_engine()

# give the table a unique name
table_name = 'spotahome_df_details_complete'

# import the table to sql
if engine!=None:
    try:
        df_details_complete.to_sql(name=table_name,
                        con=engine,
                        if_exists='replace',
                        schema=schema, 
                        index=False,
                        chunksize=5000, 
                        method='multi')
        print(f"The {table_name} table was imported successfully.")
    
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

# spotahome table for every detail page

In [ ]:
# def get_details(bs):
#     details = bs.find_all(class_='property-title__details')
#     details_lst = (detail.get_text() for detail in details)
#     details_lst = [detail.strip() for detail in details_lst]
#     return details_lst


# df_details = pd.DataFrame()

# for idx, row in df_complete.iterrows():
#     page=requests.get(
#         f"https://www.spotahome.com/london/for-rent:{row['housing_type'].lower() + 's'}/{row['platform_id']}")
#     html=page.content
#     bs=BeautifulSoup(html, 'html.parser')

#     details_dict={
#         'id': row['platform_id'],
#         'housing': row['housing_type'].lower() + 's',
#         'details': get_details(bs),
#     }
#     df_url_housing_id=pd.DataFrame(data=details_dict)
#     df_details=pd.concat(
#         [df_details, df_url_housing_id], axis=0, ignore_index=True)

In [ ]:
# import requests
# from bs4 import BeautifulSoup
# import re
# import pandas as pd


# def get_details(page):
#     website = requests.get(page)
#     results = BeautifulSoup(website.content, 'html.parser')

#     details = results.find(
#         'div', class_='property-title__details').find_all('span')

#     details_lst = (detail.get_text() for detail in details)
#     details_lst = [detail.strip() for detail in details_lst]

#     details_lst.pop(0)

#     details_lst = [i.split(' ', 1) for i in details_lst]

#     row_dict = {}

#     for value_key_tuple in details_lst:
#         new_key_value = {'id': row['platform_id']}
#         row_dict.update(new_key_value)
#         key = value_key_tuple[1]
#         value = value_key_tuple[0]
#         row_dict[key] = value

#     return row_dict


# df_details_complete = pd.DataFrame()

# for idx, row in df_complete.iterrows():
#     page = f"https://www.spotahome.com/london/for-rent:{row['housing_type'].lower() + 's'}/{row['platform_id']}"
#     website = requests.get(page)
#     results = BeautifulSoup(website.content, 'html.parser')

#     df_details = pd.DataFrame(get_details(page), index=[0])
#     df_details_complete = pd.concat([df_details_complete, df_details])

## test code for one property - NOT WORKING

In [ ]:
# def get_details(bs):
#     lst_name = []
#     details = bs.find_all(class_='property-title__details')
#     for detail in details:
#         lst_name.append(
#             details.get_text()
#                 .strip()
#         )
#     return lst_name


# def get_details_strong(bs):
#     lst_name = []
#     details_strong = bs.find_all(class_='property-title__details')
#     for detail_strong in details_strong:
#         lst_name.append(
#             details_strong.get('strong').strip()
#         )
#     return lst_name

# page = requests.get(
#     'https://www.spotahome.com/london/for-rent:apartments/604187')
# html = page.content
# bs = BeautifulSoup(html, 'html.parser')

# details_dict = {
#     'details': get_details(bs),
#     'details_only_int': get_details_strong(bs)
# }
# df_url_housing_id = pd.DataFrame(data=details_dict)
# df_details = pd.concat(
#     [df_details, df_url_housing_id], axis=0, ignore_index=True)

In [ ]:
# display(df_details)

## test code for all properties with separated information

In [ ]:
# def get_details(bs):
#     #details = bs.find_all(class_='property-title__details')
#     #details_lst = (detail.text.re.compile('m2') for detail in details)
#     details = bs.find_all('div', class_='property-title__details').find_all('span')
#     details_lst = (detail.get_text() for detail in details)
#     details_lst = [detail.strip() for detail in details_lst]
#     return details_lst


# df_details = pd.DataFrame()

# for idx, row in df_complete.iterrows():
#     page = requests.get(
#         f"https://www.spotahome.com/london/for-rent:{row['housing_type'].lower() + 's'}/{row['platform_id']}")
#     html = page.content
#     bs = BeautifulSoup(html, 'html.parser')

#     details_dict = {
#         #'id': row['platform_id'],
#         #'housing': row['housing_type'].lower() + 's',
#         'details': get_details(bs),
#     }
#     df_url_housing_id = pd.DataFrame(data=details_dict)
#     df_details = pd.concat(
#         [df_details, df_url_housing_id], axis=0, ignore_index=True)

In [ ]:
# display(df_details)

In [ ]:
# # create a .csv file with the current date and time
# today = dt.datetime.today().strftime('%Y-%m-%d-%H-%M')
# df_complete.to_csv('spotahome_{}.csv'.format(today), sep='\t')